extends layout

block content
  div(class="jumbotron" style="padding:40px;")
    h1 Bienvenido!!
      p Este es el microservicio de administración de torneos, desde aquí se podrán crear nuevos torenos y asignar nuevos jugadores a cada torneo y cada una de sus llaves.
      p
        a(class="btn btn-primary btn-lg" href="#" role="button") Crear Torneo
