extends layout

block content
    div(class="jumbotron" style="padding:40px;")
        h1  #{title}
        p En esta sección podrá ingresar los juegos disponibles.

    .row
      .col-md-4
        
        h2 Registrar Juego
        p
          form(action="http://localhost:3000/juegos/registrar", method="POST")
            label(for="Nombre") Nombre de Juego: 
            br
            input(type="text", name="Nombre")
            br
          
            label(for="IP") IP:
            br
            input(type="text", name="IP")
            br
            span(name="mensaje")
            br 
            button(type="submit") Registrar

            br
      .col-md-4
        h2 Listar Juegos
        p
          form(action="http://localhost:3000/juegos/listar", method="GET")

            button(type="submit") Listar Juegos
    hr