extends layout

block content
    div(class="jumbotron" style="padding:40px;")
        h1  #{title}
        p Esta sección es para la gestión de las partidas.
    
    .row
      .col-md-4
        h2 Crear Nueva Partida
        p
          | Crear una partida específica

        form(action="http://localhost:3000/partidas/crearPartida", method="POST")
          label(for="Jugador1") Jugador1: 
          br
          input(type="text" name="Jugador1")
          br
          label(for="Jugador2") Jugador2: 
          br
          input(type="text" name="Jugador2")
          br
          label(for="IP") IP: 
          br
          input(type="text" name="IP")
          br
          label(for="idTorneo") Torneo:
          br
          input(type="text" name="idTorneo")
          br
          button(type="submit") Crear Partida
          hr
      .col-md-4
        h2 Generar Partida
        p
          | Generar una partida ya existente (/juegos/generar)

        form(action="http://localhost:3000/partidas/generar", method="POST")
          label(for="id") ID Partida: 
          br
          input(type="text" name="id")
          br
          label(for="idTorneo") Torneo:
          br
          input(type="text" name="idTorneo")
          br
          button(type="submit") Generar
          hr 
      .col-md-4
        h2 Actualizar Partida
        p
          | Detalle de las partidas creadas para cada torneo

        form(action="http://localhost:3000/partidas/", method="PUT")
          label(for="id") ID Partida: 
          br
          input(type="text" name="id")
          br
          label(for="Marcador") Marcador:
          br
          input(type="text" name="Marcador")
          br
          button(type="submit") Actualizar
          hr
      .col-md-4
        h2 Visualizar Partidas
        p
          | Detalle de las partidas creadas para cada torneo

        form(action="http://localhost:3000/partidas/listarPartidas", method="GET")
          label(for="Nombre") 
          br
          button(type="submit") Cargar
          hr
      