extends layout

block content
    div(class="jumbotron" style="padding:40px;")
        h1  #{title}
        p En esta sección podrá visualizar el listado de servicios que otras aplicaciones podrán utilizar.