extends layout
block content
    div(class="jumbotron" style="padding:40px;")
        h1  #{title}
        p En esta sección podrá gestionar todo lo relacionado con los torneos.

    .row
      .col-md-4
        h2 CREAR TORNEO
        p
          | Cree un nuevo torneo
        p
          label(for="textJuego") Juego: 
          br
          input(type="text", name="textJuego")
          br
          
          label(for="textTotal") Total de Jugadores:
          br
          input(type="text", name="textTotal")
          br
          label(for="textGanador") Ganador:
          br
          input(type="text", name="textGanador")
          br
          
          button(type="submit" name="botonCrearTorneo") Crear
          
          br
          a.btn.btn-secondary(href='#' role='button') Ver más &raquo;
      .col-md-4
        h2 Contenido
        p
          | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p
          a.btn.btn-secondary(href='#' role='button') Ver más &raquo;
      .col-md-4
        h2 Contenido
        p
          | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        p
          a.btn.btn-secondary(href='#' role='button') Ver más &raquo;
    hr

