extends layout
block content
    div(class="jumbotron" style="padding:40px;")
        h1  #{title}
        p En esta sección podrá gestionar todo lo relacionado con los torneos.

    .row
      .col-md-4
        h2 CREAR TORNEO
        p
          | Cree un nuevo torneo

        form(action="http://localhost:3000/torneos/crear", method="POST")
          label(for="Nombre") Nombre de Torneo: 
          br
          input(type="text", name="Nombre")
          br
          button(type="submit") Crear
          hr
      .col-md-4
        h2 Listar Torneos
        p
          | Visualizar los torneos creados:

        form(action="http://localhost:3000/torneos/listarTorneos", method="GET")
          hr
          button(type="submit") Listar Torneos
          hr
      .col-md-4
        h2 Iniciar Torneo
        p
          | Ingrese el ID del torneo que desea iniciar:
        hr
          label(for="id") ID de Torneo: 
          br
          input(type="text", name="id")
          br
          button(type="submit") Iniciar
          hr
    hr

