extends layout

block content
    div(class="jumbotron" style="padding:40px;")
        h1  #{title}
        p En esta sección podrá gestionar todo lo relacionado con los usuarios.

    .row
      .col-md-4
        h2 Agregar Usuario
        p
          form(action="http://localhost:3000/usuarios/insertar", method="post")
            label(for="textEmail") Email: 
            br
            input(type="text", name="textEmail")
            br
          
            label(for="textNombre") Nombre:
            br
            input(type="text", name="textNombre")
            br
            label(for="textApellido") Apellido:
            br
            input(type="text", name="textApellido")
            br
            label(for="textPassword") Password:
            br
            input(type="password", name="textPassword")
            br
            label(for="textAdmin") Administrador:
            br
            input(type="checkbox", name="checkAdministrador")
            br 
            button(type="submit" name="botonAgregar") Agregar

            br
      .col-md-4
        h2 Actualizar Usuario
        p
          form(action="http://localhost:3000/usuarios/insertar", method="put")
            label(for="textEmail") Email: 
            br
            input(type="text", name="textEmail")
            br
          
            label(for="textNombre") Nombre:
            br
            input(type="text", name="textNombre")
            br
            label(for="textApellido") Apellido:
            br
            input(type="text", name="textApellido")
            br
            label(for="textPassword") Password:
            br
            input(type="password", name="textPassword")
            br
            label(for="textAdmin") Administrador:
            br
            input(type="checkbox", name="checkAdministrador")
            br 
            button(type="submit" name="botonAgregar") Actualizar

            br
      .col-md-4
        h2 Eliminar Usuario
        p
        
          form(action="http://localhost:3000/usuarios/insertar", method="post")
            label(for="textEmail") Email: 
            br
            input(type="text", name="textEmail")
            br
          
            label(for="textNombre") Nombre:
            br
            input(type="text", name="textNombre")
            br
            label(for="textApellido") Apellido:
            br
            input(type="text", name="textApellido")
            br
            label(for="textPassword") Password:
            br
            input(type="password", name="textPassword")
            br
            label(for="textAdmin") Administrador:
            br
            input(type="checkbox", name="checkAdministrador")
            br 
            button(type="submit" name="botonAgregar") Eliminar

            br
    hr